.button {
  border: none;
  cursor: pointer;
  background-color: #8824e6;
  border-radius: 8px;
  padding: 16px 32px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #54079d;
  }

  &:active {
    background-color: #9b51e0;
  }
}
